@import '~styles/vendor/normalize';

/**
 * Add your global app styles here.
 *
 * Tip: Try to keep these styles to a minimum and instead create resuable
 * components with their own styles.
 */

body {
  padding: 1rem 10rem;
  font-family: Helvetica;
  font-weight: 100;
}
