.bright {
  background: #2a2f3a;
  color: #6fb3d2;
}

header {
  padding: 1rem;
}

h1,
ul,
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

h1,
a {
  font-weight: 100;
}

ul {
  margin-top: 1rem;
}

a {
  padding: 1rem;
  color: #fff;
}
